---
layout: base
class: home
---

<section class='intro' style="grid-column: 2/12;margin: 15vh 0 15vh 0;">

<p>
Jeannie Ortiz explores what it means to be human by drawing from the natural world to create objects of protection, adornment, utility and symbolism.  Her work begins with threads of silk, cotton, linen, alpaca and wool – materials at the foundation of human civilization. Magical alchemy brings colors to life through the dyeing of fibers with harvested leaves, roots, flowers, fruits and fungi.  Weaving integrates these elements with the zen like repetition of the technological marvel that is the handloom. Uniting this whole process is nature whom informs both her materials and imparts the spark of inspiration.
</p>
<br/>
<p>
The meditative process by which the threads come to life is central to the creation of Jeannie’s work.    The process of weaving exists within a well-worn trail that has wound its way through all of human history.  Each thread passed through the loom adds a new layer to an ancient story, a new mode of exploration and intimate expression is revealed.   Through this work she is honored to carry this ancient craft into the future, weaving pieces that can be worn, used and loved for generations. 
</p>
</section>

<section class='home-about home-section'>
    <h2 style="--rows: {{collections.aboutByYear | size}}">
        <span>
            About 
        </span>
    </h2>
    <ul class='project-list'>
        {% for year in collections.aboutByYear %}
        <span class="project-date" style="grid-row: span {{year.posts | size}}">
            <span>
                {{year.shortYear}}
            </span>
        </span>
        {% assign posts = year.posts | reverse%}
        {% for p in posts%}
        <li class='project-list-item'>
            <h3 class="project-title">
                <a href='{{ p.url }}'>
                    {{p.data.title}}
                </a>
            </h3>
            <span class="project-category">{{p.data.category}}</span>
        </li>
        {% endfor %}
        {% endfor %}
    </ul>
</section>
<div class="spacer"></div>


<section class='home-work home-section'>
    <h2 style="--rows: {{collections.work | size}}">
        <span>
            Artworks. 
        </span>
    </h2>
    <ul class='project-list'>
        {% for year in collections.workByYear %}
        <span class="project-date" style="grid-row: span {{year.posts | size}}">
            <span>
                {{year.shortYear}}
            </span>
        </span>
        {% assign posts = year.posts | reverse%}
        {% for p in posts%}
        <li class='project-list-item'>
            <h3 class="project-title">
                <a href='{{ p.url }}'>
                    {{p.data.title}}
                </a>
            </h3>
            <span class="project-category">{{p.data.category}}</span>
        </li>
        {% endfor %}
        {% endfor %}
    </ul>
</section>
<div class="spacer"></div>
<section class='home-writing home-section'>
    <h2 style="--rows: {{collections.post | size}}">
        <span>Writing</span>
    </h2>
    <nav class='project-list'>
        {% for year in collections.postsByYear %}
        <span class="project-date" style="grid-row: span {{year.posts | size}}">
            <span>
                {{year.shortYear}}
            </span>
        </span>
        {% assign posts = year.posts | reverse %}
        {% for post in posts %}
        <li class='project-list-item'>
            <h3 class="project-title">
                <a href="{{ post.url }}">
                    {% if post.data.shortTitle %}
                    {{ post.data.shortTitle }}
                    {% else %}
                    {{ post.data.title }}
                    {% endif %}
                </a>
            </h3>
            <span class="project-category">{{post.data.publication}}</span>
        </li>
        {% endfor %}
        {% endfor %}
    </nav>
</section>
